<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

  

</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
             <h1>ecommercesite</h1>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <ul>
                  <li>
                    <a href="/shopping-cart">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
                      <span class="badge badge-pill badge-info">0</span>
                      
                    </a>
                  </li>
                  <a href="/register">signup</a>
                  <a href="/login">signin</a>

                  
                </ul>
               
              </div>
            </div>
        

            

          </div>
         
          <div>
            <div class="container mb-4 mt-4">
              <!--Carousel Wrapper-->
              <div id="products-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
                <!--Controls-->
                <div class="controls-top mb-2">
                  <div class="row">
                    <div class="col-8">
                      <h3>Latest Products</h3>
                    </div>
                    <div class="col-4">
                      <div class="controls float-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn" href="#products-carousel" data-slide="prev" aria-hidden="true"></a><a class="right fa fa-chevron-right btn" href="#products-carousel" data-slide="next" aria-hidden="true"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/.Controls-->
            
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                  <div class="carousel-item">
                    <div class="row">
                      
                      <div class="col-md-4 product-index-box">
                        <div class="single-product d-flex flex-column h-100">
                          <a class="title-link" href="/products/6368b975fbdb7028948b24b7">
                            <img src="https://p1.pxfuel.com/preview/844/198/547/bag-burlap-advertising.jpg" alt="Bag" class="img-fluid"></a>
                          <div class="product-info">
                            <a class="title-link" href="/products/6368b975fbdb7028948b24b7">
                              <h6 class="mt-2 mb-2">Yellow and Green Bold Tote</h6></a>
                            <div class="price">$13</div>
                          </div>
                          
                          <a href="/add-to-cart/6368b975fbdb7028948b24b7" class="btn btn-block btn-secondary button-style mt-auto mb-2">
                            Add to Shopping Cart
                          </a>
                          
                        </div>
                      </div>
                      
                      <div class="col-md-4 product-index-box">
                        <div class="single-product d-flex flex-column h-100">
                          <a class="title-link" href="/products/6368b975fbdb7028948b24b5">
                            <img src="https://p1.pxfuel.com/preview/726/975/813/bag-handbag-womans-bag-sport-bag.jpg" alt="Bag" class="img-fluid"></a>
                          <div class="product-info">
                            <a class="title-link" href="/products/6368b975fbdb7028948b24b5">
                              <h6 class="mt-2 mb-2">Grey Wolf Tote</h6></a>
                            <div class="price">$17</div>
                          </div>
                          
                          <a href="/add-to-cart/6368b975fbdb7028948b24b5" class="btn btn-block btn-secondary button-style mt-auto mb-2">
                            Add to Shopping Cart
                          </a>
                          
                        </div>
                      </div>
                      
                      <div class="col-md-4 product-index-box">
                        <div class="single-product d-flex flex-column h-100">
                          <a class="title-link" href="/products/6368b975fbdb7028948b24b3">
                            <img src="https://p1.pxfuel.com/preview/368/540/34/bag-cotton-natural-cotton-bag-advertising-royalty-free-thumbnail.jpg" alt="Bag" class="img-fluid"></a>
                          <div class="product-info">
                            <a class="title-link" href="/products/6368b975fbdb7028948b24b3">
                              <h6 class="mt-2 mb-2">White Cotton Tote with Drawings</h6></a>
                            <div class="price">$33</div>
                          </div>
                          
                          <a href="/add-to-cart/6368b975fbdb7028948b24b3" class="btn btn-block btn-secondary button-style mt-auto mb-2">
                            Add to Shopping Cart
                          </a>
                          
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <!--/.First slide-->
            
                  <!--Second slide-->
                  
                  <!--/.Second slide-->
            
                  <!--Third slide-->
                  <div class="carousel-item active">
                    <div class="row">
                      
                      <div class="col-md-4 product-index-box">
                        <div class="single-product d-flex flex-column h-100">
                          <a class="title-link" href="/products/636ce7b52a4cab0480e34300">
                            <img src="https://p1.pxfuel.com/preview/844/198/547/bag-burlap-advertising.jpg" alt="Bag" class="img-fluid"></a>
                          <div class="product-info">
                            <a class="title-link" href="/products/636ce7b52a4cab0480e34300">
                              <h6 class="mt-2 mb-2">Owl White Cotton Tote</h6></a>
                            <div class="price">$20</div>
                          </div>
                          
                          
                          
                        </div>
                      </div>
                      
                      <div class="col-md-4 product-index-box">
                        <div class="single-product d-flex flex-column h-100">
                          <a class="title-link" href="/products/636ce47d2a4cab0480e342f3">
                            <img src="https://p1.pxfuel.com/preview/367/279/652/bag-bag-elephant-cloth-bag.jpg" alt="Bag" class="img-fluid"></a>
                          <div class="product-info">
                            <a class="title-link" href="/products/636ce47d2a4cab0480e342f3">
                              <h6 class="mt-2 mb-2">Multicolored White Tote</h6></a>
                            <div class="price">$16</div>
                          </div>
                          
                          
                          
                        </div>
                      </div>
                      
                      <div class="col-md-4 product-index-box">
                        <div class="single-product d-flex flex-column h-100">
                          <a class="title-link" href="/products/636ce4f62a4cab0480e342f7">
                            <img src="https://p1.pxfuel.com/preview/58/205/88/shop-bag-bags-sale.jpg" alt="Bag" class="img-fluid"></a>
                          <div class="product-info">
                            <a class="title-link" href="/products/636ce4f62a4cab0480e342f7">
                              <h6 class="mt-2 mb-2">Handmade Embroided White Tote with Red Roses</h6></a>
                            <div class="price">$31</div>
                          </div>
                          
                         
                          
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                  <!--/.Third slide-->
                </div>
                <!--/.Slides-->
              </div>
              <!--/.Carousel Wrapper-->
            </div>
          </div>
        </div>
      </div>
      <div>
      