<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoppers ecommercesite&mdash;</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<script
  src="https://kit.fontawesome.com/91abd10b8f.js"
  crossorigin="anonymous"
></script>

<link rel="stylesheet" href="/stylesheets/style.css" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Mapbox -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css"
  rel="stylesheet"
/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<link rel="stylesheet" href="/style.css">
  

</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="search-container">
                <form class="form-inline" action="/products/search/key" method="GET">
                  <label for="key"> 
                  <input type="name" class="form-control" name="key" id="name" placeholder="search"  />
                </label>
                </form>
              </div>
            </div>
      
            <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
              <a href="/">
               
                <h4 class="logo-title">EcommerceSite</h4>
              </a>
            </div>
           

            <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
              <div class="site-logo">
                <ul>
                  <li>
                    <a href="/carts/user">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
                      <span class="badge badge-pill badge-info">0</span>
                      
                    </a>
                  </li>
                  <% if(user !=null){ %>
                    
                    <li>
                        
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Welcome:<%=user.username%></button>
                            <div id="myDropdown" class="dropdown-content">
                            
                              <a href="/logout">Logout</a>
                              
                            </div>
                          </div>
                          <script>
                            /* When the user clicks on the button, 
                            toggle between hiding and showing the dropdown content */
                            function myFunction() {
                              document.getElementById("myDropdown").classList.toggle("show");
                            }
                            
                            // Close the dropdown if the user clicks outside of it
                            window.onclick = function(event) {
                              if (!event.target.matches('.dropbtn')) {
                                var dropdowns = document.getElementsByClassName("dropdown-content");
                                var i;
                                for (i = 0; i < dropdowns.length; i++) {
                                  var openDropdown = dropdowns[i];
                                  if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                  }
                                }
                              }
                            }
                            </script>
                          
                      </li>
                  
                  <!-- <a href="/logout">signout</a> -->
                 <% } else{ %>
                  <a href="/register">signup</a>
                  <a href="/login">signin</a>
                  <a href="/logout">LOGOUT</a>

                   <%
                } %>
                  
                  <!-- <a href="/logout">signout</a> -->

                  
                </ul>
               
              </div>
            </div>
        

            

          </div>
         
          <div>
            <div class="container mb-4 mt-4">
              <!--Carousel Wrapper-->
              <div id="products-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
                <!--Controls-->
                <div class="controls-top mb-2">
                  <div class="row">
                    <div class="col-8">
                      <h3>Latest Products</h3>
                    </div>
                    <div class="col-4">
                      <div class="controls float-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn" href="#products-carousel" data-slide="prev" aria-hidden="true"></a><a class="right fa fa-chevron-right btn" href="#products-carousel" data-slide="next" aria-hidden="true"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/.Controls-->
            
                <!--Slides-->
                  <!--First slide-->
           
                 
                  <!--/.First slide-->
            
                  <!--Second slide-->
                  
                  <!--/.Second slide-->
            
                  <!--Third slide-->
                  <div class="row">
                          
                    <div class="col-md-4 product-index-box">
                      <div class="single-product d-flex flex-column h-100">
                        <a class="title-link" href="/products/636ce7b52a4cab0480e34300">
                          <img src="https://p1.pxfuel.com/preview/368/540/34/bag-cotton-natural-cotton-bag-advertising-royalty-free-thumbnail.jpg" alt="Bag" class="img-fluid"></a>
                        <div class="product-info">
                          <a class="title-link" href="/products/636ce7b52a4cab0480e34300">
                            <h6 class="mt-2 mb-2">Owl White Cotton Tote</h6></a>
                          <div class="price">₹20</div>
                        </div>
                        
                        
                        
                      </div>
                    </div>
                    
                    <div class="col-md-4 product-index-box">
                      <div class="single-product d-flex flex-column h-100">
                        <a class="title-link" href="/products/636ce47d2a4cab0480e342f3">
                          <img src="https://p1.pxfuel.com/preview/367/279/652/bag-bag-elephant-cloth-bag.jpg" alt="Bag" class="img-fluid"></a>
                        <div class="product-info">
                          <a class="title-link" href="/products/636ce47d2a4cab0480e342f3">
                            <h6 class="mt-2 mb-2">Multicolored White Tote</h6></a>
                          <div class="price">₹16</div>
                        </div>
                        
                        
                        
                      </div>
                    </div>
                    
                    <div class="col-md-4 product-index-box">
                      <div class="single-product d-flex flex-column h-100">
                        <a class="title-link" href="/products/636ce4f62a4cab0480e342f7">
                          <img src="https://p1.pxfuel.com/preview/58/205/88/shop-bag-bags-sale.jpg" alt="Bag" class="img-fluid"></a>
                        <div class="product-info">
                          <a class="title-link" href="/products/636ce4f62a4cab0480e342f7">
                            <h6 class="mt-2 mb-2">Handmade Embroided White Tote with Red Roses</h6></a>
                          <div class="price">₹31</div>
                        </div>
                        
                       
                        
                      </div>
                    </div>
                    
                    <div class="col-md-4 product-index-box">
                      <div class="single-product d-flex flex-column h-100">
                        <a class="title-link" href="/products/636ce72a2a4cab0480e342fd">
                          <img src="https://live.staticflickr.com/5161/5342130557_7fa8cc5935_b.jpg" alt="Bag" class="img-fluid"></a>
                        <div class="product-info">
                          <a class="title-link" href="/products/636ce4f62a4cab0480e342f7">
                            <h6 class="mt-2 mb-2">deep purple handstamped tote</h6></a>
                          <div class="price">₹47</div>
                        </div>
                        
                       
                        
                      </div>
                    </div>
                    <div class="col-md-4 product-index-box">
                      <div class="single-product d-flex flex-column h-100">
                        <a class="title-link" href="/products/6368b975fbdb7028948b24b7">
                          <img src="https://p1.pxfuel.com/preview/844/198/547/bag-burlap-advertising.jpg" alt="Bag" class="img-fluid"></a>
                        <div class="product-info">
                          <a class="title-link" href="/products/6368b975fbdb7028948b24b7">
                            <h6 class="mt-2 mb-2">Yellow and Green Bold Tote</h6></a>
                          <div class="price">₹13</div>
                        </div>
                        
                       
                        
                      </div>
                    </div>
                    <div class="col-md-4 product-index-box">
                      <div class="single-product d-flex flex-column h-100">
                        <a class="title-link" href="/products/6368b975fbdb7028948b2451">
                          <img src="https://cdn.pixabay.com/photo/2019/07/09/11/52/travel-bag-4326738_960_720.jpg" alt="Bag" class="img-fluid"></a>
                        <div class="product-info">
                          <a class="title-link" href="/products/6368b975fbdb7028948b2451">
                            <h6 class="mt-2 mb-2">Light blue hard luggage</h6></a>
                          <div class="price">₹32</div>
                        </div>
                        
                       
                        
                      </div>
                    </div>
                    <div class="col-md-4 product-index-box">
                      <div class="single-product d-flex flex-column h-100">
                        <a class="title-link" href="/products/6368b975fbdb7028948b2457">
                          <img src="https://p1.pxfuel.com/preview/926/897/247/travel-bag-hard-and-bag.jpg" alt="Bag" class="img-fluid"></a>
                        <div class="product-info">
                          <a class="title-link" href="/products/6368b975fbdb7028948b2457">
                            <h6 class="mt-2 mb-2">Two stylish light green travel bags with different size</h6></a>
                          <div class="price">₹46</div>
                        </div>
                        
                       
                        
                      </div>
                    </div>
                 
                    
                  </div>
                  
                  <!--/.Third slide-->
                
                <!--/.Slides-->
              </div>
              <!--/.Carousel Wrapper-->
            </div>
          </div>
        </div>
      </div>
      <div>
      