<h1>order page</h1>

 <h1>first product<h1>

<table class="table text-center">
    <thead>
      <tr >
        <th>Product</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Quantity</th>
        <th>&nbsp;</th>
        <th>Total</th>
        <th>Subtotal</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
 
    <tbody>
       

        <tr>
            
            <td>
                
            </td>
        </tr>
    </tbody>
          